body {
  font-family: Arial, sans-serif;

  padding: 0;
  line-height: 1.2;
  font-style:initial;
}

header {
  background: #7c9b8e;
  color: white;
  padding: .01rem;
  margin-left: '30px';
 
}
.nav{
  text-align: center;
}
.Name{
  font-size:medium;
  margin-left: '30px';
}
nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

section {
  padding: 2rem;
}

.Abtmain{
  background-color: #95b1a6;
}
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
